apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
  name: keycloak-oidc
  namespace: argo
spec:
  secretStoreRef:
    name: keycloak
    kind: ClusterSecretStore
  target:
    name: keycloak-oidc
    template:
      data:
        ARGO_WORKFLOWS_CLIENT_ID: "argo-workflows"
        ARGO_WORKFLOWS_CLIENT_SECRET: "{{ (fromJson .secret).secret }}"
  data:
    - secretKey: secret
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: oidc-client-argo-workflows
        property: secret
