# in-cluster ArgoCD cluster Secret for passing metadata to ApplicationSets

apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
  name: hub-cluster-secret
  namespace: argocd
spec:
  refreshInterval: "15m"
  secretStoreRef:
    name: gcp-secretmanager
    kind: ClusterSecretStore
  target:
    name: cnoe
    template:
      metadata:
        labels:
          argocd.argoproj.io/secret-type: cluster
          environment: "control-plane"
        annotations:
          addonsRepoURL: "{{ .addonsRepoURL }}"
          addonsRepoRevision: "{{ .addonsRepoRevision }}"
          addonsRepoBasepath: "{{ .addonsRepoBasepath }}"
          project: "{{ .project }}"
          region: "{{ .region }}"
          clusterName: "{{ .clusterName }}"
          dnsZone: "{{ .dnsZone }}"
          dnsDomain: "{{ .dnsDomain }}"
          keyvault: "{{ .keyvault }}"
          secretManager: "{{ .secretManager }}"
          environment: "control-plane"
          crossplaneServiceAccountEmail: "{{ .crossplaneServiceAccountEmail }}"
          letsencryptEnv: "{{ .letsencryptEnv }}"
      data:
        name: "{{ .clusterName }}"
        server: https://kubernetes.default.svc
  data:
    - secretKey: addonsRepoURL
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        property: repo.url
        metadataPolicy: None
    - secretKey: addonsRepoRevision
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        property: repo.revision
        metadataPolicy: None
    - secretKey: addonsRepoBasepath
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        property: repo.basepath
        metadataPolicy: None
    - secretKey: project
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        property: project
        metadataPolicy: None
    - secretKey: region
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        property: region
        metadataPolicy: None
    - secretKey: clusterName
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        property: cluster_name
        metadataPolicy: None
    - secretKey: dnsZone
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        property: dns_zone
        metadataPolicy: None
    - secretKey: dnsDomain
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        property: dns_domain
        metadataPolicy: None
    - secretKey: secretManager
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        property: secret_manager
        metadataPolicy: None
    - secretKey: pathRouting
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        property: path_routing
        metadataPolicy: None
    - secretKey: letsencryptEnv
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        property: letsencrypt_env
        metadataPolicy: None
    - secretKey: crossplaneServiceAccountEmail
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: crossplane-azwi
        property: serviceAccountEmail
        metadataPolicy: None
