apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
  name: keycloak-oidc
  namespace: backstage
spec:
  secretStoreRef:
    name: keycloak
    kind: ClusterSecretStore
  target:
    name: keycloak-oidc
    template:
      data:
        BACKSTAGE_CLIENT_SECRET: "{{ (fromJson .secret).secret }}"
  data:
    - secretKey: secret
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: oidc-client-backstage
        property: secret

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
  name: argocd-admin
  namespace: backstage
spec:
  secretStoreRef:
    name: argocd
    kind: ClusterSecretStore
  target:
    name: argocd-admin
    template:
      data:
        ARGOCD_ADMIN_PASSWORD: "{{ .ARGOCD_ADMIN_PASSWORD }}"
        ARGOCD_AUTH_TOKEN: "argocd.token={{ (fromJson .authtoken).token }}"
  data:
    - secretKey: ARGOCD_ADMIN_PASSWORD
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: argocd-initial-admin-secret
        property: password
    # Note: Read-Only non-expiring token
    - secretKey: authtoken
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: admin-auth-token
        property: token

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
  name: backstage-env-vars
  namespace: backstage
spec:
  refreshInterval: "0"
  secretStoreRef:
    name: keycloak
    kind: ClusterSecretStore
  target:
    name: backstage-env-vars
    # creationPolicy: "Owner"
    template:
      data:
        POSTGRES_PASSWORD: "{{ .postgresPassword }}"
        BACKSTAGE_SESSION_SECRET: "{{ .sessionSecret }}"
        NODE_TLS_REJECT_UNAUTHORIZED: "0"
  dataFrom:
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: "postgres-password"
      rewrite:
        - transform:
            template: "postgresPassword"
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: "session-secret"
      rewrite:
        - transform:
            template: "sessionSecret"

---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
  name: postgres-password
  namespace: backstage
spec:
  length: 48
  digits: 5
  symbols: 5
  symbolCharacters: "/-+"
  noUpper: false
  allowRepeat: true

---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
  name: session-secret
  namespace: backstage
spec:
  length: 64
  digits: 5
  symbols: 5
  symbolCharacters: "/-+@$%^&#"
  noUpper: false
  allowRepeat: true

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
  name: integrations
  namespace: backstage
spec:
  refreshInterval: "0"
  secretStoreRef:
    name: gcp-secretmanager
    kind: ClusterSecretStore
  target:
    name: integrations
    template:
      data:
        github-integration.yaml: |
          appId: {{ .appId }}
          clientId: {{ .clientId }}
          clientSecret: {{ .clientSecret }}
          webhookUrl: {{ .webhookUrl }}
          webhookSecret: {{ .webhookSecret }}
          privateKey: | {{ .privateKey | nindent 2}}
  data:
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        metadataPolicy: None
        property: github.appId
      secretKey: appId
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        metadataPolicy: None
        property: github.clientId
      secretKey: clientId
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        metadataPolicy: None
        property: github.clientSecret
      secretKey: clientSecret
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        metadataPolicy: None
        property: github.webhookSecret
      secretKey: webhookSecret
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        metadataPolicy: None
        property: github.privateKey
      secretKey: privateKey
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: config
        metadataPolicy: None
        property: github.webhookUrl
      secretKey: webhookUrl
